<!DOCTYPE HTML>
<html lang="zh-CN">
<!--简体中文-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>关注话题-新闻网站</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--viewport为了确保适当的绘制和触屏缩放。user-scalable=no禁用缩放功能后，
    用户只能滚动屏幕，就能让你的网站看上去更像原生应用的感觉。-->
    <link rel="icon" href="images/icon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/icon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/newsweb.css">
    <link rel="stylesheet" href="css/nweb.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <section id="variety">
        <div class="container">
            <br>
            <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 关注的标签</h4>
            <div class="btn-group btn-group-lg" role="group" aria-label="${attentiontag.attentiontag}">
                <span class="news-tag" th:each="attentiontag : ${pagination.data}">
                    <a th:href="@{/(page=1,tag=${attentiontag.attentiontag})}"
                       th:text="${attentiontag.attentiontag}" class="newsweb-tag"></a>
                </span>
            </div>
        </div>
        <div class="container zoomIn">
            <div class="row">
                <br>
<!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 全部关注</h3>
                    <br>
                    <div class="media" th:each="news : ${pagination.data}">
                        &lt;!&ndash;循环&ndash;&gt;
                        <div class="media-left">
                            <a th:href="@{'/news/'+ ${news.id}}">
                                <img class="media-object img-rounded" th:src="${news.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a th:href="@{'/news/'+ ${news.id}}" th:text="${news.title}"></a>
                            </h4>
                            &lt;!&ndash;<span th:text="${news.content}"></span> <br>&ndash;&gt;
                            <span class="text-desc">
                                    媒体：<span th:text="${news.user.name}"></span>&nbsp&nbsp-&nbsp&nbsp
                                    <span th:text="${news.viewCount}"></span> 次浏览 •
                                    <span th:text="${news.commentCount}"></span> 个评论 •
                                    <span th:text="${news.likeCount}?:0"></span> 个👍 •
                                    <span th:text="${#dates.format(news.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${pagination.showFirstPage}">
                                <a th:href="@{/(page=1,search=${search},tag=${tag})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;&lt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showPrevious}">
                                <a th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>

                            <li th:each="page : ${pagination.pages}"
                                th:class="${pagination.page == page}? 'active' : ''">
                                <a th:href="@{/(page=${page},search=${search},tag=${tag})}"
                                   th:text="${page}"></a>
                            </li>

                            <li th:if="${pagination.showNext}">
                                <a th:href="@{/(page=${pagination.page +1 },search=${search},tag=${tag})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li th:if="${pagination.showEndPage}">
                                <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&gt;&gt;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>-->
            </div>
        </div>
    </section>

    <section id="about">
        <div class="lvjing">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadeInLeft">

                        <h2>
                            <span class="glyphicon glyphicon-send"></span>
                            &nbsp;<img src="images/logo.png" height="39.1" width="141.3"/>
                            欢迎您提供意见与建议
                        </h2>
                        <p>
                            新闻网站是哈尔滨理工大学毕业设计项目，具有阅读新闻功能，并将新闻内容分词成关键词标签方便查看。
                        </p>
                        <address>
                            <p>
                                <span class="glyphicon glyphicon-home"></span>
                                &nbsp;
                                学校:哈尔滨理工大学
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-book"></span>
                                &nbsp;
                                学院:软件工程与微电子学院
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-envelope"></span>
                                &nbsp;
                                邮箱:wen93642674@gmail.com
                            </p>
                        </address>
                    </div>
                    <div class="col-md-6  wow fadeInRight">
                        <form action="#" method="post" role="form">
                            <!--当提交表单时，发送表单数据到名为 "#" 的文件-->
                            <!--Bootstrap 表单  向父 <form> 元素添加 role="form"。
                                    把标签和控件放在一个带有 class .form-group 的 <div> 中。这是获取最佳间距所必需的。
                                    向所有的文本元素 <input>、<textarea> 和 <select> 添加 class ="form-control" 。
                                    placeholder 属性提供可描述输入字段预期值的提示信息（hint）。
                                    该提示会在输入字段为空时显示，并会在字段获得焦点时消失。-->
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="您的姓名"/>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="您的邮箱"/>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="留言内容" rows="4"></textarea>
                                <!--想要显示placeholder里面的内容，中间必须不能有内容-->
                            </div>
                            <!--<textarea> 标签定义一个多行的文本框。文本区域中可容纳无限数量的文本
                         可以通过 cols 和 rows 属性来规定 textarea 的尺寸大小，不过更好的办法是使用 CSS 的 height 和 width 属性。-->
                            <div class="col-md-8">
                                <input type="submit" class="form-control" value="提交"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:insert="~{footer :: foot}"></div>
</body>
<script>// 当网页向下滑动 20px 出现"返回顶部" 按钮
window.onscroll = function () {
    scrollFunction()
};

function scrollFunction() {
    console.log(121);
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("btnTop").style.display = "block";
    } else {
        document.getElementById("btnTop").style.display = "none";
    }
}

// 点击按钮，返回顶部
function returnTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}</script>
</html>