<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.next.newsweb.mapper.NewsExtMapper">
    <resultMap id="BaseResultMap" type="com.next.newsweb.model.News">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>

    <update id="incView" parameterType="map">
    update news
    set
    view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
    </update>

    <update id="incCommentCount" parameterType="map">
    update news
    set
    comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
        where id = #{id}
    </update>
    <!--    原子化，防止并发总共只加了一个-->

    <select id="selectRelated" parameterType="map" resultMap="BaseResultMap">
        select * from news
        <where>
            <if test="id != null">
                and id != #{id}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
        </where>
        order by gmt_create desc limit 20
    </select>

    <select id="countBySearch" parameterType="com.next.newsweb.dto.NewsQueryDTO" resultType="java.lang.Integer">
        /*resultMap返回map结果集，result返回基本类型*/
        select count(*) from news
        <where>
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="sort != null and sort != '' and sort == 'no'">
                and comment_count = 0
            </if>
            <if test="time != null and time != ''">
                and gmt_create > #{time}
            </if>
        </where>
    </select>

    <select id="selectBySearch" parameterType="com.next.newsweb.dto.NewsQueryDTO" resultMap="BaseResultMap">
        select * from news
        <where>
            <if test="search != null and search != ''">
                and title regexp #{search}
            </if>
            <if test="tag != null and tag != ''">
                and tag regexp #{tag}
            </if>
            <if test="sort != null and sort != '' and sort == 'no'">
                and comment_count = 0
            </if>
            <if test="time != null and time != ''">
                and gmt_create > #{time}
            </if>
        </where>
        <if test="sort == null or sort == ''">
            order by gmt_create desc
        </if>
        <if test="sort != null and sort != '' and sort == 'new'">
            order by gmt_create desc
        </if>
        <if test="sort != null and sort != '' and sort == 'no'">
            order by gmt_create desc
        </if>
        <if test="sort != null and sort != '' and (sort == 'hot' || sort == 'hot7' || sort == 'hot30')">
            order by comment_count desc
        </if>
        limit #{page},#{size}
    </select>
</mapper>